@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #8b5cf6;
  --color-accent: #14b8a6;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
  --color-gray: #64748b;

  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply bg-light text-dark transition-colors duration-300;
  }

  :root.dark body {
    @apply bg-dark text-light;
  }
}
